<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Carros</title>
    <link
      rel="stylesheet"
      href="/Projetos_Passados/Update_Delete/Aula12style.css"
    />
  </head>
  <body>
    <a href="/listar_carros">Listar</a>
    <a href="/Projetos_Passados/Update_Delete/cadastro_carro.html">Cadastrar</a>
    <a href="/Projetos_Passados/Update_Delete/atualizacao_carro.html"
      >Atualizar</a
    >
    <a href="/Projetos_Passados/Update_Delete/remocao_carro.html">Remover</a>

    <h2>Lista de carros atual:</h2>

    <% for (var i = 0; i < carros.length; i++) { %>
    <div id="item_lista">
      <p>Marca: <%= carros[i].db_marca %></p>
      <p>Modelo: <%= carros[i].db_modelo %></p>
      <p>Ano: <%= carros[i].db_ano %></p>
      <p>
        Qtde Disponível: <% if (carros[i].db_qtde_disponivel == 0) { %>
        <strong>Esgotado</strong>
        <% } else { %> <%= carros[i].db_qtde_disponivel %> <% } %>
      </p>

      <% if (carros[i].db_qtde_disponivel > 0) { %>
      <form action="/vender_carro" method="post" style="display: inline">
        <input type="hidden" name="id" value="<%= carros[i]._id %>" />
        <button type="submit">Vender</button>
      </form>
      <% } else { %>
      <button disabled>Vender</button>
      <% } %>

      <br />
    </div>
    <% } %>
  </body>
</html>
